#connect-div {
  margin-top: 2rem;
}

.contact-links {
  font-size: 1.5rem;
}

#andres {
  width: 75%;
  margin: 1rem 3.25rem;
  border-radius: 50%;
  border: 2px solid white;
}

#connect-divider {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 2px;
  background-color: rgb(246, 125, 84);
}

#connect-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.connect-icons {
  color: rgb(246, 125, 84);
  font-size: 1.5rem;
}

#colombia-pin {
  width: 2.25rem;
}
