#header-container {
  width: 100%;
  background-color: #565656;
}

#header-div {
  width: 95%;
  margin: auto;
  display: flex;
  align-content: center;
  padding: 1rem;
}

#links {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

#current-path {
  border-bottom: 2px double;
  color: rgb(20, 174, 219);
}
#nav-dropdown {
  display: flex;
  justify-content: end;
}

.link-text {
  color: rgb(20, 174, 219);
}

#tools {
  color: rgb(240, 202, 45);
}

#header-name {
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(246, 125, 84);
  padding-bottom: 1rem;
}

#hammer {
  height: 2.25rem;
}

#vertical-divider {
  height: 3rem;
  border: 1px solid;
  margin: 0 10px;
}

#name {
  margin-bottom: 0;
}

#job {
  margin-top: 0;
}

@media (min-width: 750px) and (max-width: 1000px) {
  #header-div {
    width: 100%;
    justify-content: space-between;
  }

  #menu-div {
    width: 15%;
  }

  #links {
    width: 100%;
  }
}

@media (max-width: 740px) {
  #nav-dropdown {
    justify-content: center;
  }

  #menu-div {
    width: 100%;
  }
  #header-name {
    margin: auto;
  }

  #links {
    width: 100%;
  }
}
