#main-div {
  background-color: gainsboro;
  padding: 2rem;
  padding-bottom: 1rem;
}

h1 {
  text-align: center;
}

.lazyImg-div {
  width: 100%;
  border: 2px solid #565656;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 3px;
}
.main-page-images {
  width: 100%;
  height: 50rem;
  margin: auto;
}

#last-row {
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .main-page-images,
  .text-col {
    height: 30rem;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .main-page-images,
  .text-col {
    height: 40rem;
  }
}
