#main-body {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  padding: 3rem 0;
}

.splash-images {
  width: 90%;
  margin: auto;
  height: 75vh;
  display: flex;
  justify-content: space-around;
}

.image-description {
  border: 2px solid #565656;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 3px;
  background-color: #565656c3;
  width: 30%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.main-page-images {
  width: 60%;
  height: 100%;
  border: 2px solid #565656;
  box-shadow: 3px 3px 5px 3px;
}
