#footer-container {
  width: 100%;
  margin: auto;
  background-color: #565656;
  color: rgb(240, 202, 45);
  padding: 0.75rem;
}

#footer-name {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#footer-name p {
  margin-top: 0.75rem;
}

#name {
  margin-top: 3px;
  word-spacing: 0.5rem;
}

#flag {
  width: 2rem;
  margin-left: 1rem;
}

@media (max-width: 850px) {
  #footer-name {
    width: 100%;
  }
}
