#off-canvas {
  background-color: #565656;
  text-align: center;
}

#menu-button {
  color: rgb(240, 202, 45);
  font-size: 1.5rem;
}

#menu-title {
  color: rgb(246, 125, 84);
}
#menu-button:hover {
  cursor: pointer;
}

.menu-links {
  color: rgb(240, 202, 45);
}
